{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with .Params.about }}
<section class="about-page section">
	<div class="container">
		<div class="row mt-5">
			<div class="col-lg-8">
				<h2 class="mb-4 text-lg title">{{ .title | markdownify }}</h2>
			</div>
		</div>
	</div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      {{ $.Scratch.Set "counter" 0 }}
      {{ range .statut }}
      {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
      <div class="mb-4">
        <h4 class="mb-3 border-bottom pb-3">{{$.Scratch.Get `counter`}}. {{ .title | markdownify }}</h4>
        <p>{{ .paragraph | markdownify }}</p>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
{{ end }}
