{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with .Params.statut_i_inne_dokumenty.about }}
<section class="about-page section">
	<div class="container">
		<div class="row mt-5">
			<div class="col-lg-6">
				<h2 class="mb-4 text-lg title">{{ .about.title | markdownify }}</h2>
			</div>
			<div class="col-lg-6">
				<p>{{ .about.content | markdownify }}</p>
			</div>
		</div>
	</div>
</section>
<!-- statut -->
<div class="row justify-content-center">
  <div class="col-lg-8">
    {{ $.Scratch.Set "counter" 0 }}
    {{ range .statut }}
    {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
    <div class="mb-4">
      <h4 class="mb-3 border-bottom pb-3">{{$.Scratch.Get `counter`}}. {{ .title | markdownify }}</h4>
      <p>{{ .content | markdownify }}</p>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}
