{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with .Params.about }}
<section class="about-page section">
	<div class="container">
		<div class="row mt-5">
			<div class="col-lg-8">
				<h2 class="mb-4 text-lg title">{{ .title | markdownify }}</h2>
			</div>
		</div>
	</div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#statut">Statut</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" data-toggle="tab" href="#dwa">Drugi link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#trzy">Trzeci link</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="statut" class="container tab-pane active"><br>
        <div class="row justify-content-center">
          <div class="col-lg-8">
            {{ $.Scratch.Set "counter" 0 }}
            {{ range .statut }}
            {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
            <div class="mb-4">
              <p class="mb-3 pb-3">{{ .title | markdownify }}</p>
              <p class="paragraph">{{ .paragraph | markdownify }}</p>
              <p>{{ .content | markdownify }}</p>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div id="dwa" class="container tab-pane fade"><br>
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="trzy" class="container tab-pane fade"><br>
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
    </div>
  </div>
</section>

{{ end }}
{{ end }}
