<div class="hidden" id="cookie-banner">
  <div>
       <span>
        W celu świadczenia usług na najwyższym poziomie stosujemy pliki cookies, które będą zamieszczane w Państwa urządzeniu (komputerze, laptopie, smartfonie). W każdym momencie mogą Państwo dokonać zmiany ustawień Państwa przeglądarki internetowej i wyłączyć opcję zapisu plików cookies. Ze szczegółowymi informacjami dotyczącymi cookies na tej stronie można się zapoznać na stronie polityka prywatności.
       </span>
       <span id="consent-cookies">
              Zamknij
       </span>
  </div>
</div>
<script src="/my_js/cookie.js"></script>