.section {
  padding: 90px 0px;
}

.section-sm {
  padding: 90px 0px;
}

.section-top {
  padding-top: 90px;
}

.section-bottom {
  padding-bottom: 90px;
}

.mb-30 {
  margin-bottom: 30px;
}

.section-heading {
  margin-bottom: 75px;

  p {
    margin-top: 20px;
  }
}


.form-control {
  border-color: $border-color;
  height: 50px;
  padding-left: 20px;
  font-size: 13px;
  background: #eee;
}

.form-control:focus,
.form-control:hover,
.form-control:active {
  box-shadow: none;
  border-color: $primary-color;
}


.bg-secondary {
  background: $secondary-color !important;
}


.bg-primary {
  background: $primary-color !important;
}

.content-padding {
  padding: 220px 0px 200px 0px;
}

.btn {
  line-height: 1;
  padding: 16px 32px;
  box-shadow: 0 11px 22px rgba(34, 34, 34, .2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  will-change: box-shadow;
  font-size: 13px;
  border-radius: 0px;
  letter-spacing: .2em;
  text-transform: uppercase;
  border: 2px solid transparent;
  font-weight: 700;
  font-family: $base-font;
}



.btn-rounded {
  border-radius: 60px;
  text-decoration: none;
}

.btn-hero {
  background: $primary-color;
  color: black;
  border-color: $primary-color;

  &:hover {
    background: $black;
    border-color: $black;
    color: $white;
  }
}



.btn-secondary {
  background: $secondary-color;
  border-color: $secondary-color;
  color: $black;

  &:hover {
    background: transparent;
    color: $black;
    border-color: $secondary-color;
  }
}


.btn-gray {
  background: $gray-light;
  color: $black;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
}

.text-black {
  color: $black;
}

.text-color {
  color: $secondary-color;
}

.text-md {
  font-size: 45px;
  line-height: 1.2;
}

.box-shadow {
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.1);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.overflow-hidden {
  overflow: hidden;
}

a {
  color: inherit;
}

.title {
  strong {
    color: $primary-color;
  }
}
#title_reference{
  padding-top: 200px;
  margin-top: -200px;
  font-size: 2.5rem;
}
.reference_buttons{
  display: flex;
    margin: 0 auto 4em;
    justify-content: space-evenly;
    max-width: 1300px;
    a{
      font-size: .8em;
      background: white;
    }
}
// statut
.nav-tabs {
  width: 50%;
  margin: 0 auto;
  .nav-link.active{
    background-color: #ffd837;
    border-color: #ffd837;
  }
}
// media o nas
.video_embed_sec {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  div {
    width: 50%;
    margin: 0 1em 0 0;
  }
}

/*pojedynczy zwierzak*/
.pet_skill_title {
  margin-top: 1em;
}
/*zdjecia w rejestrze*/
#rejestr{
  img {
    max-width: 100%;
  }
}
/*proste zdjecia w rzędzie*/
.simple-images-row {
  display: flex;
  flex-wrap: wrap
}
.simple-images-row img {
  margin: .3em .3em;
}
/*wydarzeneipod banerem*/
.event-base{
    width: 100%;
    display: block;
    .event-box{
      position: relative;
      display: flex;
      justify-content: space-evenly;
      .counter-event p{
        font-size: 2em;
        font-weight: 800;
        color: #a4bb22;
        margin-bottom: 0;
        line-height: 1.4;
      }
    }
}
/*accordion*/

//
// Base styles
//

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5em;
  color: blue;
  text-align: left; // Reset button style
  background-color: blue;
  border: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:not(.collapsed) {
    color: green;
    background-color: white;

    &::after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
      transform: rotate(-180deg);
    }
  }

  // Accordion icon
  &::after {
    flex-shrink: 0;
    width:  1.25rem ;
    height:  1.25rem ;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    background-repeat: no-repeat;
    background-size:  1.25rem ;
  }

  &:hover {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
    border-color: black
    outline: 0;
    box-shadow: black;
  }
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  background-color: white;
  border: 1px solid black;

  &:first-of-type {
    

    .accordion-button {
      
    }
  }

  &:not(:first-of-type) {
    border-top: 0;
  }

  // Only set a border-radius on the last item if the accordion is collapsed
  &:last-of-type {
    

    .accordion-button {
      &.collapsed {
        
      }
    }

    .accordion-collapse {
      
    }
  }
}

.accordion-body {
  padding: .5em;
}


// Flush accordion items
//
// Remove borders and border-radius to keep accordion items edge-to-edge.

.accordion-flush {
  .accordion-collapse {
    border-width: 0;
  }

  .accordion-item {
    border-right: 0;
    border-left: 0;
    @include border-radius(0);

    &:first-child { border-top: 0; }
    &:last-child { border-bottom: 0; }

    .accordion-button {
      @include border-radius(0);
    }
  }
}
