.section {
  padding: 90px 0px;
}

.section-sm {
  padding: 90px 0px;
}

.section-top {
  padding-top: 90px;
}

.section-bottom {
  padding-bottom: 90px;
}

.mb-30 {
  margin-bottom: 30px;
}

.section-heading {
  margin-bottom: 75px;

  p {
    margin-top: 20px;
  }
}


.form-control {
  border-color: $border-color;
  height: 50px;
  padding-left: 20px;
  font-size: 13px;
  background: #eee;
}

.form-control:focus,
.form-control:hover,
.form-control:active {
  box-shadow: none;
  border-color: $primary-color;
}


.bg-secondary {
  background: $secondary-color !important;
}


.bg-primary {
  background: $primary-color !important;
}

.content-padding {
  padding: 220px 0px 200px 0px;
}

.btn {
  line-height: 1;
  padding: 16px 32px;
  box-shadow: 0 11px 22px rgba(34, 34, 34, .2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  will-change: box-shadow;
  font-size: 13px;
  border-radius: 0px;
  letter-spacing: .2em;
  text-transform: uppercase;
  border: 2px solid transparent;
  font-weight: 700;
  font-family: $base-font;
}



.btn-rounded {
  border-radius: 60px;
  text-decoration: none;
}

.btn-hero {
  background: $primary-color;
  color: black;
  border-color: $primary-color;

  &:hover {
    background: $black;
    border-color: $black;
    color: $white;
  }
}



.btn-secondary {
  background: $secondary-color;
  border-color: $secondary-color;
  color: $black;

  &:hover {
    background: transparent;
    color: $black;
    border-color: $secondary-color;
  }
}


.btn-gray {
  background: $gray-light;
  color: $black;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
}

.text-black {
  color: $black;
}

.text-color {
  color: $secondary-color;
}

.text-md {
  font-size: 45px;
  line-height: 1.2;
}

.box-shadow {
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.1);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.overflow-hidden {
  overflow: hidden;
}

a {
  color: inherit;
}

.title {
  strong {
    color: $primary-color;
  }
}
#title_reference{
  padding-top: 200px;
  margin-top: -200px;
  font-size: 2.5rem;
}
.reference_buttons{
  display: flex;
    margin: 0 auto 4em;
    justify-content: space-evenly;
    max-width: 1300px;
    a{
      font-size: .8em;
      background: white;
    }
}
// statut
.nav-tabs {
  width: 50%;
  margin: 0 auto;
  @media (max-width: 480px){
    width: 90%;
  }
  .nav-link.active{
    background-color: #ffd837;
    border-color: #ffd837;
  }
}
// media o nas
.video_embed_sec {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  gap: 2rem;
  div {
    width: 50%;
    margin: 0 1em 0 0;
  }
  @media (max-width: 966px){
    &.video-flex{
      flex-direction: column;
    }
  }
}

/*pojedynczy zwierzak*/
.pet_skill_title {
  margin-top: 1em;
}
/*zdjecia w rejestrze*/
#rejestr{
  img {
    max-width: 100%;
  }
}
/*proste zdjecia w rzędzie*/
.simple-images-row {
  display: flex;
  flex-wrap: wrap;
    img {
    margin: .3em .3em;
    max-width: 100%;
    }
}
/*wydarzeneipod banerem*/
.event-base{
    width: 100%;
    display: block;
    .event-box{
      position: relative;
      display: flex;
      justify-content: space-evenly;
      @media (max-width: 450px){
        flex-direction: column;
        margin: 0px auto;
        margin-left: 15vw;
      }
      .counter-event p{
        font-size: 2em;
        font-weight: 800;
        color: #a4bb22;
        margin-bottom: 0;
        line-height: 1.4;
      }
    }
}
/*lista w jak pomóc*/
h4.list-range-jak-pomoc{
  scroll-margin-top: 8em;
}
/*accordion*/
.accordion-box{
    max-width: 850px;
    margin: 0 auto;
}
.accordion {
  background-color: #fff;
  color: #111;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid #a4bb22;
  transition: .4s;
  margin: .5em 0;
  font-family: 'Grandstander';
  font-size: 2em;
  font-weight: 700;
  text-decoration: unset;
  padding-top: 1em;
}

.accordion-active, .accordion:hover {
  background-color: #ffd837;
  border: 1px solid #ffd837;
  color: black; 
}

.accordion:after {
  content: '\002B';
  color: #000;
  font-weight: 700;
  float: right;
  font-size: 2em;
  margin-left: 5px;
}

.accordion-active:after {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-out;
}

/*projekty*/


.projekty-list{
    flex: unset;
    max-width: unset;
    column-count: 1;
    break-after: avoid;
    @media(min-width: 950px){
      column-count: 2;
  }
}

/*ekipa*/
.nth-element-ekipa{
  padding: 0;
}

