.footer {
	background: url("../images/bg/footer-bg.jpg") no-repeat;
	background-image: cover;
	padding-bottom: 35px;
}

.footer-socails {
	a {
		padding: 0px 10px;

		i {
			font-size: 30px;
			color: $white;
		}
	}
}

.copy.border-top {
	border-top: 1px solid rgba(255, 255, 255, 0.04) !important;
}

.footer_menu {
	display: flex;
	flex-direction: column;
}
.footer_menu_list{
	display: flex;
	list-style: none;
    text-align: left;
    color: white;
	width: 100%;
	li{
		margin: 0 auto;
	}
		ul {
			list-style: none;
			padding: 0;
	}
}
.footer_menu_container_main {
	max-width: 100%;
	flex: 0 0 100%;
}
.rodo_elements {
	list-style: none;
	color: white;
}
@include mobile {
	.sub-form .btn {
		position: relative;
		margin-top: 16px !important;
		border-radius: 5px;
	}
}

@include mobile-xs {
	.sub-form .btn {
		position: relative;
		margin-top: 16px !important;
		border-radius: 5px;
	}
}

@include tablet {
	.sub-form .btn {
		position: relative;
		margin-top: 16px !important;
		border-radius: 5px;
	}
}