.footer {
	background: url("../images/bg/footer-bg.jpg") no-repeat;
	background-size: cover;
	padding-bottom: 35px;
}

.footer-socails {
	margin-right: 0!important;
	a {
		padding: 0px 10px;

		i {
			font-size: 30px;
			color: $white;
		}
	}
}

.copy.border-top {
	border-top: 1px solid rgba(255, 255, 255, 0.04) !important;
}

.footer_menu {
	display: flex;
	flex-direction: column;
}
.footer_menu_list{
	display: flex;
	list-style: none;
    text-align: left;
    color: white;
	width: 100%;
	li{
		margin: 0 auto;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
		a{
			text-decoration: none;
			&:hover{
				color: #ffd837;
				text-decoration: underline;
			}
		}
	}
		ul {
			list-style: none;
			padding: 0;
	}
}
.footer_logo {
	margin-bottom: 2em;
}
.navbar_logo_image {
	max-width: 140px;
}
.footer_menu_container_main {
	max-width: 100%;
	flex: 0 0 100%;
}
.rodo_elements {
	list-style: none;
	color: white;
	display: flex;
	.rodo-box{
		width: 50%;
		.logo-desc{
			display: inline-block;;
		}
	}
}
.footer-children-menu{
	display: flex;
	flex-direction: column;
	a{
		text-decoration: none;
		&:hover{
			text-decoration: underline;
			color: $primary-color;
		}
	}
}
@include mobile {
	.sub-form .btn {
		position: relative;
		margin-top: 16px !important;
		border-radius: 5px;
	}
}

@include mobile-xs {
	.sub-form .btn {
		position: relative;
		margin-top: 16px !important;
		border-radius: 5px;
	}
}

@include tablet {
	.sub-form .btn {
		position: relative;
		margin-top: 16px !important;
		border-radius: 5px;
	}
}	

@media (max-width: 991px){
	.footer.section .container {
		width: 100vw;
		max-width: unset;
	}
	}
@media (max-width: 768px){
	.footer.section .container {
			width: 100vw;
			max-width: unset;
		}
		ul.footer_menu_list {
			flex-direction: column;
			padding-left: 0;
		}
		.footer_menu_list li {
			margin: 0 0 0 50%;
			transform: translateX(-50%);
			text-align: center;
		}
		.rodo_elements {
			list-style: none;
			color: #fff;
			padding-left: 0;
		}
		}