{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with .Params.faq }}
<section class="section faq">
  <div class="reference_buttons">
    <a href="#{{ .adres_odnosnika | urlize}}" class="btn btn-hero btn-rounded">Wesprzyj nas finasowo</a>
    <a href="https://hospicjum.onrender.com/jak_nam_pomoc/#jak-pomoc-284" class="btn btn-hero btn-rounded">Przekaż dary rzeczowe</a>
    <a href="https://hospicjum.onrender.com/jak_nam_pomoc/#jak-pomoc-892" class="btn btn-hero btn-rounded">Wrzuć do puszki</a>
    <a href="https://hospicjum.onrender.com/jak_nam_pomoc/#jak-pomoc-646" class="btn btn-hero btn-rounded">Zbiórki odzieży</a>
    <a href="https://hospicjum.onrender.com/jak_nam_pomoc/#jak-pomoc-818" class="btn btn-hero btn-rounded">Akcja dlaschroniska.pl</a>
  </div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-8">
        <div class="heading">
          <span class="stroke-text">{{ .title_outline }}</span>
          <h3 class="mb-4 h2 mt-2">{{ .title | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        {{ $.Scratch.Set "counter" 0 }}
        {{ range .faq_item }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        <div class="mb-4">
          <h4 id="jak-pomoc-{{ .id-number }}" class="mb-3 border-bottom pb-3">{{$.Scratch.Get `counter`}}. {{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
      {{ if .support.enable }}
      {{ with .support }}
      <div class="col-lg-8">
        <div class="info">
          <h4 class="mt-5 mb-4">{{ .title | markdownify }}</h4>
          {{ with .button }}
          <a href="{{ .link | absLangURL }}" class="btn btn-hero btn-rounded">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ end }}