{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with .Params.projekty }}
<section class="section faq">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-8">
        <div class="heading">
          <span class="stroke-text">{{ .title_outline }}</span>
          <h3 class="mb-4 h2 mt-2">{{ .title | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center accordion-box" style="max-width: 100%;">
      <div class="col-lg-8" style="flex:unset;max-width:unset;column-count:2;break-after: avoid;">
        {{ range .projekty_item }}
        <div class="mb-4" style="padding:2rem;background-color:whitesmoke;">
          <h4 class="mb-3 border-bottom pb-3">{{$.Scratch.Get `counter`}} {{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div> 
      
      <!--{{ range $i, $e := .projekty_item }}
      <button class="accordion">{{ .title | markdownify}}</button>
      <div class="panel">
        <p>{{ .content | markdownify}}</p>
      </div>
      {{ end }}


      {{ if .support.enable }}
      {{ with .support }}
      <div class="col-lg-8">
        <div class="info">
          <h4 class="mt-5 mb-4">{{ .title | markdownify }}</h4>
          {{ with .button }}
          <a href="{{ .link | absLangURL }}" class="btn btn-hero btn-rounded">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }} -->
    </div>
  </div>
</section>
{{ end }}

{{ end }}