{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with .Params.projekty }}
<section class="section faq">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-8">
        <div class="heading">
          <span class="stroke-text">{{ .title_outline }}</span>
          <h3 class="mb-4 h2 mt-2">{{ .title | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>

    {{ range .projekty_item }}
    <div class="accordion" id="accordion-base">
      <div class="card">
        <div class="card-header">
          <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="title-accordion">{{$.Scratch.Get `counter`}} {{ .title | markdownify }}</h4>
          </button>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="mb-4">
              <p>{{ .content | markdownify }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}


    <div class="row justify-content-center">
      <div class="col-lg-8">
        {{ range .projekty_item }}
        <div class="mb-4">
          <h4 class="mb-3 border-bottom pb-3">{{$.Scratch.Get `counter`}} {{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
      {{ if .support.enable }}
      {{ with .support }}
      <div class="col-lg-8">
        <div class="info">
          <h4 class="mt-5 mb-4">{{ .title | markdownify }}</h4>
          {{ with .button }}
          <a href="{{ .link | absLangURL }}" class="btn btn-hero btn-rounded">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ end }}