{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with .Params.projekty }}
<section class="section faq">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-8">
        <div class="heading">
          <span class="stroke-text">{{ .title_outline }}</span>
          <h3 class="mb-4 h2 mt-2">{{ .title | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        {{ range .projekty_item }}
        <div class="mb-4">
          <h4 class="mb-3 border-bottom pb-3">{{$.Scratch.Get `counter`}} {{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>


      {{ if .support.enable }}
      {{ with .support }}
      <div class="col-lg-8">
        <div class="info">
          <h4 class="mt-5 mb-4">{{ .title | markdownify }}</h4>
          {{ with .button }}
          <a href="{{ .link | absLangURL }}" class="btn btn-hero btn-rounded">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

<div class="accordion" id="faq">
  <div class="accordion-item border-0">
    <h4 class="accordion-header mb-0" id="heading-8a4ed081f8ec73b6e9377f609cffed128b925ed9_">
      <button class="accordion-button pe-0 shadow-none h6 font-secondary mb-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#id-8a4ed081f8ec73b6e9377f609cffed128b925ed9_" aria-expanded="true"
        aria-controls="id-8a4ed081f8ec73b6e9377f609cffed128b925ed9_">
        How can I integrate Avocode to my current tool stack?
      </button>
    </h4>
    <div id="id-8a4ed081f8ec73b6e9377f609cffed128b925ed9_" class="accordion-collapse collapse show"
      aria-labelledby="heading-8a4ed081f8ec73b6e9377f609cffed128b925ed9_" data-bs-parent="#faq">
      <div class="accordion-body pt-0 content">
        <p>The Service is provided for free during this pilot project, and is provided “as is” with is not committed to
          any level of service or availability of the Service.</p>
        <p>A further If you enter into this agreement on behalf of a company, you hereby agree that the company is
          responsible under this Agreement for all actions and omissions</p>
      </div>
    </div>
  </div>
  <div class="accordion-item border-0">
    <h4 class="accordion-header mb-0" id="heading-5547386a6e7381108d294d5eebe26d464fcd8c2c_">
      <button class="accordion-button pe-0 shadow-none h6 font-secondary mb-0 collapsed" type="button"
        data-bs-toggle="collapse" data-bs-target="#id-5547386a6e7381108d294d5eebe26d464fcd8c2c_" aria-expanded="false"
        aria-controls="id-5547386a6e7381108d294d5eebe26d464fcd8c2c_">
        How can I use Avocode with cloud documents?
      </button>
    </h4>
    <div id="id-5547386a6e7381108d294d5eebe26d464fcd8c2c_" class="accordion-collapse collapse"
      aria-labelledby="heading-5547386a6e7381108d294d5eebe26d464fcd8c2c_" data-bs-parent="#faq">
      <div class="accordion-body pt-0 content">
        The Service is provided for free during this pilot project, and is provided “as is” with is not committed to any
        level of service or availability of the Service.
      </div>
    </div>
  </div>
  <div class="accordion-item border-0">
    <h4 class="accordion-header mb-0" id="heading-418184b222b830a0eda6a835a2506977ec36e992_">
      <button class="accordion-button pe-0 shadow-none h6 font-secondary mb-0 collapsed" type="button"
        data-bs-toggle="collapse" data-bs-target="#id-418184b222b830a0eda6a835a2506977ec36e992_" aria-expanded="false"
        aria-controls="id-418184b222b830a0eda6a835a2506977ec36e992_">
        If I cancel, can I archive my designs to keep them safe?
      </button>
    </h4>
    <div id="id-418184b222b830a0eda6a835a2506977ec36e992_" class="accordion-collapse collapse"
      aria-labelledby="heading-418184b222b830a0eda6a835a2506977ec36e992_" data-bs-parent="#faq">
      <div class="accordion-body pt-0 content">
        A further If you enter into this agreement on behalf of a company, you hereby agree that the company is
        responsible under this Agreement for all actions and omissions
      </div>
    </div>
  </div>
  <div class="accordion-item border-0">
    <h4 class="accordion-header mb-0" id="heading-202f9ad39223c3254b19b10ed0e635bc52686306_">
      <button class="accordion-button pe-0 shadow-none h6 font-secondary mb-0 collapsed" type="button"
        data-bs-toggle="collapse" data-bs-target="#id-202f9ad39223c3254b19b10ed0e635bc52686306_" aria-expanded="false"
        aria-controls="id-202f9ad39223c3254b19b10ed0e635bc52686306_">
        How can I adjust user permissions &amp; admin provileges?
      </button>
    </h4>
    <div id="id-202f9ad39223c3254b19b10ed0e635bc52686306_" class="accordion-collapse collapse"
      aria-labelledby="heading-202f9ad39223c3254b19b10ed0e635bc52686306_" data-bs-parent="#faq">
      <div class="accordion-body pt-0 content">
        The difference between and premium product consist number of components, plugins, page in each. The Free
        versions contain only a few elements and pages that.
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}